<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elenco Affittuari</title>
    <style>
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<h1>Elenco Affittuari</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="affittuario : ${affittuari}">
        <td th:text="${affittuario.nome}"></td>
        <td th:text="${affittuario.cognome}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
